<header class="header">
    <div class="supergraphic bar"></div>
    <div class="header-content limit">
          <div class="logo">
            <a href="/">
              <img
                class="logo-brand"  
                src="../../assets/images/header/bosch-brand-logo-lv-rgb.png" alt="Bosch - Invented for life">
            </a>
          </div>
          <div class="title">
            <div class="header-font">
              <h1><span class="corR">R</span>oad<span class="corS"> S</span>urface<span class="corC"> C</span>lassifier</h1>
            </div>
          </div>
    
        </div>
</header>
