<div class="map-container">
    <agm-map 
        [latitude]="currentCoord.lat" 
        [longitude]="currentCoord.lng" 
        [zoom] = "16"
        [zoomControl] = "false"
        [streetViewControl] = "false"
        >

        <agm-polyline *ngFor="let polyline of carDataHistory; let i = index" [strokeColor]="getColor(i)">

            <agm-polyline-point [latitude]="polyline.lat" [longitude]="polyline.lng">
            </agm-polyline-point>

            <!-- TODO: Error when playing -->
            <ng-container *ngIf="carDataHistory[i + 1] != null">
                <agm-polyline-point [latitude]="carDataHistory[i + 1].lat" [longitude]="carDataHistory[i + 1].lng">
                </agm-polyline-point>
            </ng-container>

        </agm-polyline>
    </agm-map>
    
    <rb-controls></rb-controls>
</div>
